@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i');

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

footer > a:link{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:black
}
a:visited{
color:black;
}
a:hover{
color:red;
}

a{
    text-decoration: none;
    
}
header  {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:black;
    margin-top: 80px;
}

body {
    background-image: url("WhiteBackground.jpg");
    width: 100%;
    height: auto;
}
body > main > p, ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;

}


  hr {
    border-top: 2px solid black;  
  }
  
  p, h2 > .center-text {
      text-align: center;
  }

 .center-list {

    margin-left:100px;
    margin-right:100px;
    text-align:center;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;

 
  }

  footer{
    font-family: arial, sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 6px 12px;
    border-radius: 6px;
  }
  h2{
   text-align:center;
  }
  

.partTwo{
    margin-left:100px;
    margin-right:100px;  
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);

}